<a href="https://colab.research.google.com/github/HaribanshMahato/Aiml/blob/main/DS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
url="https://raw.githubusercontent.com/Rishabh7406/tut-codes/refs/heads/main/-1)%20datasets/Expanded_data_with_more_features.csv"
df=pd.read_csv(url)
df.head()

,Unnamed: 0,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,0,female,NaN,bachelor's degree,standard,none,married,regularly,yes,3.0,school_bus,< 5,71,71,74
1,1,female,group C,some college,standard,NaN,married,sometimes,yes,0.0,NaN,5 - 10,69,90,88
2,2,female,group B,master's degree,standard,none,single,sometimes,yes,4.0,school_bus,< 5,87,93,91
3,3,male,group A,associate's degree,free/reduced,none,married,never,no,1.0,NaN,5 - 10,45,56,42
4,4,male,group C,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30641 entries, 0 to 30640
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           30641 non-null  int64
 1   Gender               30641 non-null  object
 2   EthnicGroup          28801 non-null  object
 3   ParentEduc           28796 non-null  object
 4   LunchType            30641 non-null  object
 5   TestPrep             28811 non-null  object
 6   ParentMaritalStatus  29451 non-null  object
 7   PracticeSport        30010 non-null  object
 8   IsFirstChild         29737 non-null  object
 9   NrSiblings           29069 non-null  float64
 10  TransportMeans       27507 non-null  object
 11  WklyStudyHours       29686 non-null  object
 12  MathScore            30641 non-null  int64
 13  ReadingScore         30641 non-null  int64
 14  WritingScore         30641 non-null  int64
dtypes: float64(1), int64(4), object(10)
memory usage: 3.5+ MB

In [ ]:
df.loc[df['Gender']=='male']

,Unnamed: 0,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
3,3,male,group A,associate's degree,free/reduced,none,married,never,no,1.0,NaN,5 - 10,45,56,42
4,4,male,group C,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75
7,7,male,group B,some college,free/reduced,none,married,sometimes,yes,1.0,private,> 10,41,43,39
8,8,male,group D,high school,free/reduced,completed,single,sometimes,no,3.0,private,> 10,65,64,68
10,10,male,group C,associate's degree,standard,none,NaN,sometimes,yes,1.0,private,5 - 10,58,54,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30631,765,male,group E,some high school,standard,none,married,sometimes,no,3.0,school_bus,< 5,80,65,66
30634,785,male,group A,associate's degree,free/reduced,completed,NaN,sometimes,no,2.0,school_bus,5 - 10,65,60,60
30635,794,male,group C,some college,standard,none,married,regularly,no,2.0,school_bus,5 - 10,58,53,49
30637,890,male,group E,high school,standard,none,single,regularly,no,1.0,private,5 - 10,58,53,51
30640,960,male,group B,some college,standard,none,married,never,no,1.0,school_bus,5 - 10,64,60,58

In [ ]:
data={
    'col1':['a','a','b','c']
}
df3=pd.DataFrame(data)

df3['col1'].mode()

0    a
Name: col1, dtype: object

In [ ]:
# Copy original DataFrame to avoid modifying inplace
df_filled = df.copy()

# Fill categorical columns with mode (most frequent value)
categorical_cols = ["EthnicGroup", "ParentEduc", "TestPrep", "ParentMaritalStatus",
                    "PracticeSport", "IsFirstChild", "TransportMeans", "WklyStudyHours"]

for col in categorical_cols:
    mode_value = df[col].mode()[0]  # Get mode without modifying df
    df_filled[col] = df[col].fillna(mode_value)
    print(f"Mode for {col}: {mode_value}")  # Print mode for reference

# Fill numerical column with median (to handle skewed data)
df_filled["NrSiblings"] = df["NrSiblings"].fillna(df["NrSiblings"].median())

# Check if missing values are filled
print(df_filled.isnull().sum())

Mode for EthnicGroup: group C
Mode for ParentEduc: some college
Mode for TestPrep: none
Mode for ParentMaritalStatus: married
Mode for PracticeSport: sometimes
Mode for IsFirstChild: yes
Mode for TransportMeans: school_bus
Mode for WklyStudyHours: 5 - 10
Unnamed: 0                0
Gender                    0
EthnicGroup               0
ParentEduc                0
LunchType                 0
TestPrep                  0
ParentMaritalStatus       0
PracticeSport             0
IsFirstChild              0
NrSiblings                0
TransportMeans            0
WklyStudyHours            0
MathScore              1296
ReadingScore              0
WritingScore              0
NormalizedMath         3060
dtype: int64

In [ ]:
df

,Unnamed: 0,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,0,female,group C,bachelor's degree,standard,none,married,regularly,yes,3.0,school_bus,< 5,71,71,74
1,1,female,group C,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,69,90,88
2,2,female,group B,master's degree,standard,none,single,sometimes,yes,4.0,school_bus,< 5,87,93,91
3,3,male,group A,associate's degree,free/reduced,none,married,never,no,1.0,school_bus,5 - 10,45,56,42
4,4,male,group C,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30636,816,female,group D,high school,standard,none,single,sometimes,no,2.0,school_bus,5 - 10,59,61,65
30637,890,male,group E,high school,standard,none,single,regularly,no,1.0,private,5 - 10,58,53,51
30638,911,female,group C,high school,free/reduced,completed,married,sometimes,no,1.0,private,5 - 10,61,70,67
30639,934,female,group D,associate's degree,standard,completed,married,regularly,no,3.0,school_bus,5 - 10,82,90,93
30640,960,male,group B,some college,standard,none,married,never,no,1.0,school_bus,5 - 10,64,60,58

In [ ]:
df.isnull().sum()

Unnamed: 0             0
Gender                 0
EthnicGroup            0
ParentEduc             0
LunchType              0
TestPrep               0
ParentMaritalStatus    0
PracticeSport          0
IsFirstChild           0
NrSiblings             0
TransportMeans         0
WklyStudyHours         0
MathScore              0
ReadingScore           0
WritingScore           0
dtype: int64

In [ ]:
df["ParentMaritalStatus"].unique()

array(['married', 'single', 'widowed', nan, 'divorced'], dtype=object)

In [ ]:
df["ParentMaritalStatus"].dropna().unique().tolist()

['married', 'single', 'widowed', 'divorced']

In [ ]:
df["ParentMaritalStatus"].value_counts()

ParentMaritalStatus
married     16844
single       7097
divorced     4919
widowed       591
Name: count, dtype: int64

In [ ]:

df_filled["ParentMaritalStatus"] = df_filled["ParentMaritalStatus"].replace({"married": 2, "single": 1})
df_filled

,Unnamed: 0,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,0,female,group C,bachelor's degree,standard,none,2,regularly,yes,3.0,school_bus,< 5,71,71,74
1,1,female,group C,some college,standard,none,2,sometimes,yes,0.0,school_bus,5 - 10,69,90,88
2,2,female,group B,master's degree,standard,none,1,sometimes,yes,4.0,school_bus,< 5,87,93,91
3,3,male,group A,associate's degree,free/reduced,none,2,never,no,1.0,school_bus,5 - 10,45,56,42
4,4,male,group C,some college,standard,none,2,sometimes,yes,0.0,school_bus,5 - 10,76,78,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30636,816,female,group D,high school,standard,none,1,sometimes,no,2.0,school_bus,5 - 10,59,61,65
30637,890,male,group E,high school,standard,none,1,regularly,no,1.0,private,5 - 10,58,53,51
30638,911,female,group C,high school,free/reduced,completed,2,sometimes,no,1.0,private,5 - 10,61,70,67
30639,934,female,group D,associate's degree,standard,completed,2,regularly,no,3.0,school_bus,5 - 10,82,90,93
30640,960,male,group B,some college,standard,none,2,never,no,1.0,school_bus,5 - 10,64,60,58

In [ ]:
import pandas as pd
import numpy as np

# Sample dataset with NaNs
data = {"Value": [10, np.nan, 30, np.nan, 50, 60, np.nan, 80]}
df2 = pd.DataFrame(data)

# Apply linear interpolation
df2["Value"] = df2["Value"].interpolate(method="polynomial",order=3)

print(df2)

   Value
0   10.0
1   20.0
2   30.0
3   40.0
4   50.0
5   60.0
6   70.0
7   80.0

In [ ]:
# Select students with MathScore > 80
df_high_math = df.loc[df["MathScore"] > 80]
df_high_math

,Unnamed: 0,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
2,2,female,group B,master's degree,standard,none,single,sometimes,yes,4.0,school_bus,< 5,87,93,91
6,6,female,group B,some college,standard,completed,widowed,never,no,1.0,private,5 - 10,85,93,89
16,16,male,group C,high school,standard,NaN,married,sometimes,yes,0.0,school_bus,5 - 10,88,89,86
33,34,male,group E,some college,standard,none,divorced,sometimes,yes,0.0,school_bus,NaN,97,87,82
34,35,male,group E,associate's degree,standard,completed,single,sometimes,no,NaN,school_bus,5 - 10,81,81,79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30614,495,male,group D,bachelor's degree,standard,none,divorced,sometimes,no,NaN,school_bus,5 - 10,82,73,80
30620,622,male,group C,bachelor's degree,standard,none,married,NaN,no,4.0,private,5 - 10,91,85,77
30632,778,female,group D,some college,standard,none,married,regularly,no,3.0,private,5 - 10,82,88,97
30633,783,female,group C,master's degree,standard,completed,married,never,no,2.0,school_bus,5 - 10,84,99,99
30639,934,female,group D,associate's degree,standard,completed,married,regularly,no,3.0,school_bus,5 - 10,82,90,93

In [ ]:
# Select students with MathScore between 50 and 80
df_mid_math = df[df["MathScore"].between(50, 80)]
df_mid_math

0         True
1         True
2        False
3        False
4         True
         ...
30636     True
30637     True
30638     True
30639    False
30640     True
Name: MathScore, Length: 30641, dtype: bool

In [ ]:
# Select rows where ParentEduc is "Bachelor's degree"
df_bachelor = df.query("ParentMaritalStatus == 'widowed'")
df_bachelor

,Unnamed: 0,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
6,6,female,group B,some college,standard,completed,widowed,never,no,1.0,private,5 - 10,85.0,93,89
184,198,female,group B,some college,free/reduced,none,widowed,regularly,yes,3.0,NaN,> 10,47.0,54,57
196,210,male,group D,some high school,free/reduced,completed,widowed,sometimes,yes,3.0,school_bus,< 5,77.0,77,77
206,220,female,group D,high school,standard,completed,widowed,regularly,yes,4.0,school_bus,5 - 10,57.0,69,75
257,274,male,group B,some college,standard,completed,widowed,NaN,yes,1.0,school_bus,< 5,85.0,83,74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30133,815,male,group C,some college,standard,none,widowed,regularly,no,1.0,private,< 5,50.0,47,40
30372,564,male,group A,bachelor's degree,free/reduced,none,widowed,sometimes,no,1.0,school_bus,5 - 10,87.0,82,83
30403,189,male,group E,some high school,standard,none,widowed,regularly,no,2.0,NaN,< 5,67.0,66,57
30460,330,male,group A,bachelor's degree,standard,none,widowed,regularly,no,2.0,school_bus,> 10,82.0,83,81
30474,572,male,NaN,some college,free/reduced,none,widowed,regularly,no,5.0,school_bus,< 5,63.0,45,48

In [ ]:
df['ParentMaritalStatus'].value_counts()

ParentMaritalStatus
married     16844
single       7097
divorced     4919
widowed       591
Name: count, dtype: int64

In [ ]:
# Replace MathScore < 40 with NaN
df["MathScore"] = df["MathScore"].mask(df["MathScore"] < 40, float("nan"))
df

,Unnamed: 0,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,0,female,NaN,bachelor's degree,standard,none,married,regularly,yes,3.0,school_bus,< 5,71.0,71,74
1,1,female,group C,some college,standard,NaN,married,sometimes,yes,0.0,NaN,5 - 10,69.0,90,88
2,2,female,group B,master's degree,standard,none,single,sometimes,yes,4.0,school_bus,< 5,87.0,93,91
3,3,male,group A,associate's degree,free/reduced,none,married,never,no,1.0,NaN,5 - 10,45.0,56,42
4,4,male,group C,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,76.0,78,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30636,816,female,group D,high school,standard,none,single,sometimes,no,2.0,school_bus,5 - 10,59.0,61,65
30637,890,male,group E,high school,standard,none,single,regularly,no,1.0,private,5 - 10,58.0,53,51
30638,911,female,NaN,high school,free/reduced,completed,married,sometimes,no,1.0,private,5 - 10,61.0,70,67
30639,934,female,group D,associate's degree,standard,completed,married,regularly,no,3.0,school_bus,5 - 10,82.0,90,93
30640,960,male,group B,some college,standard,none,married,never,no,1.0,school_bus,5 - 10,64.0,60,58

# grouping and agg

In [ ]:
# Group by ParentEduc and get the average MathScore for each education level
df.groupby("ParentEduc")["MathScore"].mean()

ParentEduc
associate's degree    69.573266
bachelor's degree     71.117523
high school           66.147201
master's degree       72.928715
some college          67.835875
some high school      64.753257
Name: MathScore, dtype: float64

In [ ]:
# Group by ParentEduc and get the average MathScore for each education level
df.groupby("ParentEduc")["MathScore"].agg(['sum','mean','count'])

                         sum       mean  count
ParentEduc
associate's degree  373191.0  69.573266   5364
bachelor's degree   236608.0  71.117523   3327
high school         356798.0  66.147201   5394
master's degree     145274.0  72.928715   1992
some college        431504.0  67.835875   6361
some high school    333026.0  64.753257   5143

In [ ]:
df["NormalizedMath"] = df.groupby("ParentEduc")["MathScore"].transform(lambda x: (x - x.mean()) / x.std())

In [ ]:
df[['MathScore', 'NormalizedMath']]

       MathScore  NormalizedMath
0           71.0       -0.008276
1           69.0        0.084380
2           87.0        1.004474
3           45.0       -1.768082
4           76.0        0.591763
...          ...             ...
30636       59.0       -0.537180
30637       58.0       -0.612339
30638       61.0       -0.386861
30639       82.0        0.894121
30640       64.0       -0.278037

[30641 rows x 2 columns]